HELP.md
target/
**/.mvn/wrapper/
!**/src/main/**/target/
!**/src/test/**/target/

**/out/
**/target/
**/build/
**/javadoc/
**/apidocs/
**/testapidocs/
**/spring-shell.log
**/logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
**/.idea/
**/*.iws
**/*.ipr
**/*.iml
**/.gradle
**/local.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### MacOS ###
**/.DS_Store

### Mono build ###
**/*.exe
